@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-light: 240 240 240;
    --color-secondary: 233 196 106;
    --color-dark: 38 70 83;
    --color-accent: 45 157 143;
    --color-cta: 231 111 81;
    /* Fixing full height for Mobile Devices */
    height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
  }
  html,
  body {
    @apply overflow-hidden duration-700;
  }
}
